/*
Main Styles TOC
     Base Styles
     Abstract Styles (clearfix, buttons, grid, etc.)
     Banner (site wide)
     Footer  (site wide)
     Content Components  
*/
.logo {
  background: url("../img/logo.jpg") no-repeat;
  width: 125px;
  height: 44px;
  display: block;
  text-indent: -9999px;
}
nav {
  float: right;
}
nav a,
nav ol {
  float: left;
}
nav > a,
nav ol li > a {
  margin: 0 20px;
}
nav ol {
  margin-top: 0;
}
nav ol {
  padding: 0;
  list-style: none;
}
nav ol li:nth-child(2) {
  display: none;
}
